input {
    keyboard {
        xkb {
            layout "us"
        }
    }

    mouse {
    }
}

// output "eDP-1" {
//     mode "2560x1440@120.030"
//     scale 2.0
//     transform "normal"
//     position x=1280 y=0
// }

layout {
    gaps 8
    center-focused-column "never"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }

    focus-ring {
        off
        width 2
        inactive-color "black"
    }

    border {
        width 2
        active-gradient from="#fcf434" to="#9c59d1" angle=135 relative-to="workspace-view"
        inactive-gradient from="white" to="black" angle=135 relative-to="workspace-view"
    }

    struts {
    }
}

spawn-at-startup "mako"
spawn-at-startup "waybar" "-c" "/home/alls/.config/waybar/niri/config_vert" "-s" "/home/alls/.config/waybar/niri/style_vert.css"
spawn-at-startup "swww-daemon"
spawn-at-startup "~/.config/mako/scripts/twentytwentytwenty"
spawn-at-startup "~/.config/niri/scripts/wallpaperCycle.sh"
spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

animations {
    window-open {
        duration-ms 500
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 500
        curve "ease-out-expo"
    }

    horizontal-view-movement {
        duration-ms 500
        curve "ease-out-expo"
    }
}

window-rule {
    open-maximized false
    clip-to-geometry true
    geometry-corner-radius 6
}

window-rule {
    match app-id="firefox"
    open-maximized true
}

binds {
    Mod+Alt+W { spawn "~/.config/niri/scripts/cyclePaper.sh"; }
    Mod+Ctrl+Alt+W { spawn "waybar" "-c" "/home/alls/.config/waybar/niri/config_vert" "-s" "/home/alls/.config/waybar/niri/style_vert.css"; }
    Mod+Return { spawn "kitty"; }
    Alt+Space { spawn "fuzzel" "--hide-before-typing"; }
    Mod+E { spawn "kitty" "-e" "yazi"; }
    Mod+G { spawn "sh" "-c" "xwayland-satellite & foot env DISPLAY=:0 steam"; }
    Mod+Alt+L { spawn "swaylock" "-C" "~/.config/swaylock/niri.conf"; }
    XF86AudioRaiseVolume allow-when-locked=true { spawn "~/.config/mako/scripts/volume" "--inc"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "~/.config/mako/scripts/volume" "--dec"; }
    XF86AudioMute allow-when-locked=true { spawn "~/.config/mako/scripts/volume" "--toggle"; }
    XF86AudioMicMute allow-when-locked=true { spawn "~/.config/mako/scripts/volume" "--toggle-mic"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "~/.config/mako/scripts/brightness" "--dec"; }
    XF86MonBrightnessUp allow-when-locked=true { spawn "~/.config/mako/scripts/brightness" "--inc"; }
    Mod+Q { close-window; }
    Mod+A { focus-column-left; }
    Mod+S { focus-window-or-workspace-down; }
    Mod+W { focus-window-or-workspace-up; }
    Mod+D { focus-column-right; }
    Mod+Ctrl+A { move-column-left; }
    Mod+Ctrl+S { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+W { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+D { move-column-right; }
    Mod+Home { focus-column-first; }
    Mod+End { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End { move-column-to-last; }
    Mod+Shift+Left { focus-monitor-left; }
    Mod+Shift+Down { focus-monitor-down; }
    Mod+Shift+Up { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }
    Mod+Shift+H { focus-monitor-left; }
    Mod+Shift+J { focus-monitor-down; }
    Mod+Shift+K { focus-monitor-up; }
    Mod+Shift+L { focus-monitor-right; }
    Mod+Shift+Ctrl+A { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+S { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+W { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+D { move-column-to-monitor-right; }
    Mod+Page_Down { focus-workspace-down; }
    Mod+Page_Up { focus-workspace-up; }
    Mod+U { focus-workspace-down; }
    Mod+I { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up { move-column-to-workspace-up; }
    Mod+Ctrl+U { move-column-to-workspace-down; }
    Mod+Ctrl+I { move-column-to-workspace-up; }
    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up { move-workspace-up; }
    Mod+Shift+U { move-workspace-down; }
    Mod+Shift+I { move-workspace-up; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp cooldown-ms=150 { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown cooldown-ms=150 { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp cooldown-ms=150 { move-column-to-workspace-up; }
    Mod+WheelScrollRight { focus-column-right; }
    Mod+WheelScrollLeft { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft { move-column-left; }
    Mod+Shift+WheelScrollDown { focus-column-right; }
    Mod+Shift+WheelScrollUp { focus-column-left; }
    Mod+Ctrl+Shift+WheelScrollDown { move-column-right; }
    Mod+Ctrl+Shift+WheelScrollUp { move-column-left; }
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }
    Mod+Comma { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }
    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { reset-window-height; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }
    Mod+C { center-column; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }
    Ctrl+Alt+V { spawn "gpu-screen-recorder-gtk"; }
    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }
    Mod+Shift+X { quit; }
    Mod+Shift+P { power-off-monitors; }
}

hotkey-overlay {
    skip-at-startup
}

environment {
    QT_QPA_PLATFORM "wayland"
    DISPLAY null
}